
body
{
    display: flex;
    flex-direction:column;
    background-color: black;
}

header
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh 5vh;
    justify-content: space-between;
    border: solid 4px #FF6B00;
    border-radius: 10px;
}
    
.logo
{
    height: 10vh;
    width: 30vw;
    justify-content: center;
    border-right: solid 4px #FF6B00;
    border-left: solid 4px #FF6B00;
    grid-column: 2/3;
    grid-row: 1/3;
}

p
{
    color: #FF6B00;
}
h1
{
    justify-content: center;
    align-items: center;
}

a
{
    font-size: calc(1.2vw + 1.2vh);
    text-decoration: none;
    color: #FF6B00;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Wishlist
{
    display: grid;
    margin: 0px;
}
#Partners
{
    display: grid;
    margin: 0px;
}

#Toprated
{
    display: grid;
    align-items: center;
    margin: 0px;
    border-top: solid 4px #FF6B00;
    
}

#Cart
{
    display: grid;
    align-items: center;
    margin: 0px;
    border-top: solid 4px #FF6B00;
}

article
{
    text-align: center;
    margin-top: 1rem;
    border: solid 4px #FF6B00;
    border-radius: 10px;
}

.Spel
{
    width: 100%;
    height: 100%;
}

#Searchbar

{
    display: flex;
    flex-direction: row;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    border: solid 4px #FF6B00;
    border-radius: 10px;
    font-size: calc(0.4vh + 0.4rem);
}

footer

{
    text-align: center;
    border: solid 4px #FF6B00;
    border-radius: 10px;
    font-size: calc(1.2vw + 1.2vh);
    margin-top: 2vh;
}

@media screen and (min-width: 641px)and (max-width: 1025px)

{
    body
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main
    {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column: 1/3;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }

    header
    {
        grid-template-rows: auto;
        grid-column: 1/3;
    }

    .logo
    {
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    article
    {
        display: grid; 
    }

    #Search
    {
        display: grid;
        grid-column: 1/3;
    }

    #Searchbar
    {
        border: solid 4px #FF6B00;
        border-radius: 10px; 
        grid-column: 1/3;
    }
    
    .Spel
    {
        align-items: center;
        border: solid 4px #FF6B00;
        border-radius: 10px;
    }

    article
    {
        border: none;
    }

    #diablo
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }    
    #alan
    {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #BG3
    {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #deadspace
    {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #ragnarok
    {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #tekken
    {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    footer
    {
        margin-top: 1vh;
        grid-column: 1/3;
    }
}

@media screen and (min-width: 1026px)

{
    body
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    header
    {
        grid-template-rows: 1fr 1fr;
        grid-column: 1/4;
        max-height: 200px;
    }

    main
    {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-column: 1/4;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .logo
    {
        display: flex;
        justify-self: center;
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
        width: auto;
        padding-left: 27%;
        padding-right: 27%;
    }

    #Search
    {
        display: grid;
        grid-column: 1/4;
    }

    #Searchbar
    {
        border: solid 4px #FF6B00;
        border-radius: 10px;
        grid-column: 1/4;
        font-size: calc(1vh + 1rem);
        min-height: 100px;
    }

    .Spel
    {
        align-items: center;
        border: solid 4px #FF6B00;
        border-radius: 10px;
    }

    article
    {
        border: none;
    }

    #diablo
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }    
    #alan
    {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #BG3
    {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #deadspace
    {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #ragnarok
    {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #tekken
    {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    footer
    {
        margin-top: 1vh;
        grid-column: 1/4;
    }
}